---
title : Home
layout : tataletak.njk
---
<div class="home">
<h1>Welcome</h1>
<p>Anda berada di index.njk + {{layout}}</p>
<p class="nama-home"><br>fadilaekanoperta</p><br>
<p>Merah = large device</p>
<p>Kuning = medium device</p>
<p>Hijau = small device</p>
<div class="box-desc"></div>
</div>