---
layout : tataletak.njk
nama : Fadila Eka Noperta
nim : 14116021
ttl : 11 November 1997
alamat : Pringsewu Barat, Pringsewu, Lampung
prodi : Program Studi Teknik Informatika
jurusan : Jurusan Teknologi Produksi dan Industri
kampus : Institut Teknologi Sumatera
---
<div class="box-profile">
	<h1 class="judul-bio">My Profile</h1>
	<a href="#"><img src="/assets/14116021.png" class="img-bio"></a>
	<h2 class="h2-bio">{{nama}} <br> {{nim}}</h2>
	<div class="info">
		<p>Tempat Tanggal Lahir = {{ttl}}</p>
		<p>Alamat = {{alamat}}</p><br>
		<p>{{prodi}}</p>
		<p>{{jurusan}}</p>
		<p>{{kampus}}</p>	
	</div>
</div>
